<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">
  <!-- user_info -->
  	<select id="selectAllUser" resultType="UserDto">
  		select * from user_info
  	</select>
  	
  	<select id="selectOneUser" parameterType="String" resultType="UserDto">
  		select * from user_info where id = #{id}
  	</select>
  	
  	<insert id="insertUser" parameterType="UserDto" >
  		insert into user_info
  		values(0,#{nicname},#{id},#{email},now(),#{rout},#{grade})
  	</insert>
  	
  	<update id="updateUser" parameterType="UserDto">
  		update user_info set
  		nicname = #{nicname}, email = #{email}
  		where id = #{id}
  		
  	</update>
  	
  	<delete id="deleteUser" parameterType="String">
  		delete from user_info where id = #{id}
  	</delete>
  	
 <!-- board -->
 	<select id="selectAllBoard" resultType="BoardDto">
  		select * from board
  	</select>
  	
  	<select id="selectOneBoard" parameterType="String" resultType="BoardDto">
  		select * from board where writer = #{writer}
  	</select>
  	
  	<insert id="insertBoard" parameterType="BoardDto" >
  		insert into board
  		values(0,#{title},now(),#{writer},#{contents},#{like},#{hits})
  	</insert>
  	
  	<update id="updateBoard" parameterType="BoardDto">
  		update board set
  		title = #{title}, contents = #{contents}
  		where b_no = #{b_no}
  	</update>
  
  	<delete id="deleteBoard" parameterType="int">
  		delete from board where b_no = #{b_no}
  	</delete>
 
 
 
 
  </mapper>
  
  