<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>		<!-- 자바 파일을 찾아갈 때 -->
  		<!-- UserDto -->
  		<typeAlias type="sol.desk.wjjst.dto.UserDTO" alias="UserDto"/>
  		
  		<!-- BoardDto -->
  		<typeAlias type="sol.desk.wjjst.dto.BoardDTO" alias="BoardDto"/>
  		
  		<!-- ComDto -->
  		<typeAlias type="sol.desk.wjjst.dto.ComDTO" alias="ComDto"/>
  		
  		<!-- FriDto -->
  		<typeAlias type="sol.desk.wjjst.dto.FriDTO" alias="FriDto"/>
  		
  		<!-- ImgDto -->
  		<typeAlias type="sol.desk.wjjst.dto.ImgDTO" alias="ImgDto"/>
  		
  		<!-- MsgDto -->
  		<typeAlias type="sol.desk.wjjst.dto.MsgDTO" alias="MsgDto"/>
  		
  		<!-- PwDto -->
  		<typeAlias type="sol.desk.wjjst.dto.PwDTO" alias="PwDto"/>
  		
  	</typeAliases>
  	
  </configuration>